{% extends 'base.html' %}

{% block content %}
<h1>DETAIL</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="{{movie.poster_path}}">
    </div>
    <div class="col-6 row-5">
      <div class="col">
        <hr>
        <h3>제목: {{ movie.title }}</h3>
      </div>
      <div class="col">
        <p>개봉일: {{ movie.release_date }}</p>
      </div>
      <div class="col">
        <p>평점: {{ movie.popularity }}</p>
      </div>
      <div class="col">
        <p>장르:
          {% for genre in genres %}
            {{ genre.name }}, 
          {% endfor %}
        </p>
        
        
      <div class="col">
        <p>투표수: {{ movie.vote_count }}</p>
      </div>
      <hr>
      <div "row">
        <p>{{ movie.overview }}</p>
      </div>
    </div>
  </div>
</div>
<hr>
{% endblock %}
